<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{../fonts/material-icon/css/material-design-iconic-font.min.css}">

</head>
<body>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <div class="message" th:if="${message != null}">
                        [[${message}]]
                    </div>
                    <h2 class="form-title">Registration Form</h2>

                    <form method="post" th:action="@{registration}" role="form" th:object="${user}" class="register-form"
                          id="register-form">
                        <div class="form-group">
                            <label for="fullname"><span class="zmdi zmdi-account material-icons-name"></span></label>
                            <input th:field="*{fullname}" type="text" name="name" id="fullname" placeholder="Enter your Name" required/>
                        </div>

                        <div class="form-group">
                            <label for="email"><span class="zmdi zmdi-email"></span></label>
                            <input th:field="*{email}" type="email" name="email" id="email" placeholder="Enter your Email" required/>
                        </div>

                        <div class="form-group">
                            <label for="password"><span class="zmdi zmdi-lock"></span></label>
                            <input th:field="*{password}" type="password" name="password" id="password" placeholder="Enter Your password" required/>
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Register" />
                        </div>
                    </form>

                    <div class="form-group form-button">
                        <h6 class="signup-image-link">Already have an account? <a href="http://localhost:8080/login">Login</a></h6>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>
</body>
</html>
